.main-page_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.main-page_header {
  display: flex;
  white-space: nowrap;
  width: 100%;
  justify-content: space-between;
  padding: 0 8px;
}

.main-page_beer-list_col {
  padding: 8px;
}

.main-page_container .ant-row {
  width: 100%;
}

.main-page_search_container {
  width: 70%;
}

.catalog-item-sceleton {
  height: 410px;
}
