.beer-img {
  height: 300px;
  width: auto;
}

.beer-card_content {
  display: flex;
}

.beer-card_description {
  padding-left: 32px;
  padding-right: 16px;
  height: 310px;
  overflow: hidden;
  text-align: justify;
}

.ant-btn-icon-only.beer_add-to-cart {
  width: 90px;
}
