.details-beer-img {
  width: 150px;
  height: auto;
}

.details-container {
  display: flex;
  justify-content: space-around;
}

.beer-card_description {
  padding-left: 32px;
  padding-right: 16px;
  height: 100%;
  width: 60%;
}

.food-span {
  padding-left: 8px;
}

.actions-container {
  padding-left: 32px;
  display: flex;
  align-items: center;
}

.actions-container_item {
  margin-left: 32px;
}